@page
@model Server.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
